# ==========================================
# NomadOS Root Environment Configuration (Template)
# ==========================================

# Backend Settings
PORT=8080
MONGO_URI=mongodb://127.0.0.1:27017/tejx_nomad_db
EXTERNAL_UPSTREAM_URL=https://dummyjson.com/products/1

# Frontend Settings
VITE_PORT=3000
VITE_BACKEND_URL=http://127.0.0.1:8080
VITE_APP_TITLE="NomadOS | Digital Nomad Command Center"
VITE_DEFAULT_CITY=Tokyo
VITE_DEFAULT_COUNTRY=Portugal
VITE_DEFAULT_CRYPTO=bitcoin

# External Public APIs
VITE_WEATHER_API_URL=https://api.open-meteo.com/v1/forecast
VITE_AIR_QUALITY_API_URL=https://air-quality-api.open-meteo.com/v1/air-quality
VITE_GEOLOCATION_API_URL=https://ipapi.co/json
VITE_COUNTRIES_API_URL=https://restcountries.com/v3.1
VITE_TIME_API_URL=https://timeapi.io/api/time/current/zone
VITE_HOLIDAYS_API_URL=https://date.nager.at/api/v3
VITE_CRYPTO_API_URL=https://api.coingecko.com/api/v3
VITE_EXCHANGE_API_URL=https://api.frankfurter.app/latest
VITE_DICTIONARY_API_URL=https://api.dictionaryapi.dev/api/v2/entries/en
VITE_BORED_API_URL=https://bored-api.appbrewery.com/random
VITE_QR_API_URL=https://api.qrserver.com/v1/create-qr-code
VITE_NEWS_API_URL=https://hacker-news.firebaseio.com/v0
VITE_RECIPE_API_URL=https://www.themealdb.com/api/json/v1/1
VITE_NASA_APOD_API_URL=https://api.nasa.gov/planetary/apod
VITE_QUOTES_API_URL=https://zenquotes.io/api/random
VITE_TVMAZE_API_URL=https://api.tvmaze.com
VITE_POKE_API_URL=https://pokeapi.co/api/v2
VITE_ANIME_API_URL=https://api.jikan.moe/v4
VITE_DOG_API_URL=https://dog.ceo/api/breeds/image/random
